<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css?v=1">
    <link rel="stylesheet" href="/stylesheets/comment.css?v=3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <title>InstaClick - Comments Page</title>
</head>

<body>
    <% include partials/navbar%>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- PROFILE -->
                </div>
                <div class="col-md-6">


                    <!-- Users Posts Here -->
                    <div class="row">
                        <% if(post) {%>

                            <!-- FEEDS -->
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="question-panel">

                                        <div class="row user-row">
                                            <div class="col-xs-2">
                                                <img src=<%=post.user.profile %> class="img img-circle" id="user-img" width="50%" alt="">
                                            </div>
                                            <div class="col-xs-10 user-name-div">
                                                <span class="text-muted">
                                                    <a href="user-name">
                                                        <%= post.user.username %>
                                                    </a>
                                                    <span class="pull-right" style="margin-right:-40px">
                                                        <i class="post-time">
                                                            <%= post.timestamp %>
                                                        </i>
                                                    </span>
                                                </span>
                                            </div>

                                        </div>

                                        <!-- POST IMAGE -->
                                        <div class="row">
                                            <div class="col-xs-12 img-container" id="">
                                                <div class="answer">
                                                    <img src="/<%= post.imageUrl %>" class="" id="post-image" alt="">
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Comment, like button Sections -->
                                        <div class="row comment-div">
                                            <div class="col-xs-12">
                                                <!-- <label for="likes">❤</label> -->
                                                <span class="likes">
                                                    <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
                                                </span>

                                                <span class="text-muted like-counts">
                                                    <%= post.likes %>
                                                </span>
                                                <span style="margin-left: 40px">
                                                    <a href="/post/comments/<%= post._id %>" class="comment_link">
                                                        <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
                                                    </a>
                                                </span>
                                                <span class="text-muted post-comment">
                                                    <i>
                                                        <%= post.comments %>
                                                    </i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--/ FEEDS -->

                            <% } %>
                    </div>

                    <div class="row" id="user-comment-panel">
                        <button class="btn btn-default btn-block" id="btn-write-comment">Write Comment</button>
                        <div class="panel panel-default comment-panel">
                            <div class="panel-body ">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="<%= post.user.profile %>" class="img img-circle pull-center comment-user-img" width="60%" alt="">
                                    </div>
                                    <div class="col-xs-10">
                                        <textarea class="pull-left comment-area" name="" id="comment-box" cols="52" rows="2"></textarea>
                                        <button class="btn btn-primary pull-right" id="comment-btn">Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <% if(comments){ %>
                    <% for(i = 0;i < comments.length;i++){%>
                        <div class="row">
                            <div class="panel panel-default user-comments">
                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img src="<%= comments[i].user.profile %>" class="img img-circle pull-center comment-user-img" width="60%" alt="">
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="comment-user">
                                                <a href="">
                                                    <%= comments[i].user.username %>
                                                </a>
                                            </div>
                                            <div class="user-comments pull-left text-muted">
                                                <%= comments[i].comment %>
                                            </div>
                    
                                            <span class="text-muted pull-right post-time">
                                                <%= comments[i].time %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <% } %>
                    <% } %>

                    <div class="row" style="margin-top:10px">

                    </div>


                </div>


                <div class="col-md-2">

                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/javascripts/bootstrap.min.js"></script>

        <script src="/javascripts/timeago.js"></script>
        <script src="/javascripts/comment.js"></script>


</body>

</html>